*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #dfe8f0;
}

body{
    background-color: var(--background-color);
}


header{
    background-color: rgba(26, 66, 199, 0.603);
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    padding: 2rem 2rem 2rem;
    width: 70%;
    align-items: center;
}

img{
    width: auto;
    height: auto;
    max-height: 7vh;
    min-height: 5vh;
}


@media (max-width: 600px) {
    img{
        display: none;
    }
    nav ul{
        flex-direction: column;
    }
  }